@using BLL.Models
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the @AppSettings.Title</h1>
    <p>@AppSettings.Description</p>
    <p>Developed by @AppSettings.Developer</p>
</div>